*{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: chocolate;
}

h2{
    color: chocolate;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-flex{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 200px;
    align-content: center;
    justify-content: center;
}


.button {
    background-color: transparent;
    border: 2px solid chocolate;
    color: chocolate;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.flex-brown{
    position: relative;
    display: flex;
    background-color: chocolate;
    color: white;
    align-content: center;
    justify-content: center;
}

.flex-gray{
    position: relative;
    display: flex;
    background-color:gainsboro;
    color: chocolate;
    align-content: center;
    justify-content: center;
}

.section-four{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
}
